{
    "semi": false, 
    "singleQuote": true,
    "trailingComma": "none",
    "vueIndentScriptAndStyle": true,
    "printWidth": 150,
    "arrowParens": "avoid",
    "insertPragma": false,
    "requirePragma": false
}
  